* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

:root {
  --clr-dark-magenta: 300 43% 22%;
  --clr-soft-pink: 331 85% 84%;
  --clr-dark-grayish-magenta: 303 10% 53%;
  --clr-light-grayish-magenta: 300 24% 96%;
  --clr-white: 0 0% 100%;
}

body {
  font-family: "League Spartan", sans-serif;
  font-size: 0.938rem;
  font-weight: 400;
  background-color: hsl(var(--clr-white));
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-image: 
    url(images/bg-pattern-top-mobile.svg),
    url(images/bg-pattern-bottom-mobile.svg);
  background-repeat: no-repeat;
  background-position: top left, bottom left;
  background-attachment: local;
}

.container {
  margin-inline: 1.5rem;
  margin-block: 5rem;
  display: flex;
  flex-direction: column;
}

.main-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.title {
  color: hsl(var(--clr-dark-magenta));
  padding-inline: 2rem;
  font-weight: 700;
  font-size: 2.5rem;
  text-align: center;
  line-height: 2rem;
}

.main-paragraph {
  color: hsl(var(--clr-dark-grayish-magenta));
  font-weight: 500;
  text-align: center;
  font-size: 1.08rem;
  line-height: 1.4rem;
}

.raitings {
  margin-block: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.raitings-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.raiting-item {
  display: flex;
  flex-direction: column;
  background-color: hsl(var(--clr-light-grayish-magenta));
  border-radius: 0.5rem;
  padding-block: 1rem;
  gap: 1rem;
}

.stars {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.5rem
}

.review-text {
  color: hsl(var(--clr-dark-magenta));
  font-weight: 700;
  font-size: 1rem;
  text-align: center;
}

.comment-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.comment-container {
  background-color: hsl(var(--clr-dark-magenta));
  color: hsl(var(--clr-white));
  border-radius: 0.5rem;
  padding-inline: 2.2rem;
  padding-top: 2.5rem;
  padding-bottom: 2rem;
  gap: 6rem;
}

.profile {
  display: flex;
  gap: 1.25rem;
  padding-bottom: 1.5rem;
}

.profile-picture {
  width: 40px;
  border-radius: 20px;
}

.profile-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.4rem;
}

.name {
  color: hsl(var(--clr-white));
  font-weight: 700;
  font-size: 1rem;
}

.verified-buyer {
  color: hsl(var(--clr-soft-pink));
  font-weight: 400;
  font-size: 1rem;
}

.comment {
  font-size: 1rem;
  line-height: 1.4rem;
}

@media (min-width: 1226px) {
  body {
    background-image: 
      url(images/bg-pattern-top-desktop.svg),
      url(images/bg-pattern-bottom-desktop.svg);
    background-position: top left, bottom right;
  }

  .container {
    margin-inline: 10rem;
    margin-block: 0;
    gap: 4rem;
  }

  .main-raiting-container {
    display: flex;
    flex-direction: row;
  }

  .main-container {
    flex: 1;
    align-self: center;
    gap: 3rem;
  }

  .title {
    text-align: left;
    padding: 0;
    font-size: 3.5rem;
    line-height: 3rem;
  }

  .main-paragraph {
    text-align: left;

  }

  .raitings {
   flex: 1;
  }

  .raitings-list {
    gap: 2rem;
    text-wrap: nowrap;
  }

  .raiting-item {
    flex-direction: row;
    padding-inline: 1.5rem;
  }

  .raitings-list > li:nth-child(1) {
    align-self: flex-start;
  }

  .raitings-list > li:nth-child(2) {
    align-self: center;
  }

  .raitings-list > li:nth-child(3) {
    align-self: flex-end;
  }

  .comment-section {
    flex-direction: row;
  }

  .comment-section > .comment-container:nth-child(1) {
    align-self: flex-start;
  }

  .comment-section > .comment-container:nth-child(2) {
    align-self: center;
  }

  .comment-section > .comment-container:nth-child(3) {
    align-self: flex-end;
    margin-top: 2rem;
  }
  
}